/* Front Page */
.frontpage {
	background: linear-gradient(#222, #333, #333, #333, #333, #333, #333, #222);
	color: #fff;
	display: grid;
	grid-template-areas: 'video intro' 'video form';
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	height: 75vh;
	margin: 0;
	padding: 0;
	width: 100%;
}
.video {
	grid-area: video;
	position: relative;
}
.video_content {
	position: absolute;
	right: 3vh;
}
img.video_content {
	height: 55vh;
	padding: 10vh 0vh;
	width: 55vh;
}
.intro {
	grid-area: intro;
	position: relative;
}
.intro_content {
	bottom: 0;
	left: 3vh;
	position: absolute;
	width: 55vh;
}
.from {
	grid-area: form;
	position: relative;
}
.form_content {
	left: 3vh;
	position: relative;
	width: 55vh;
}
.form_grid {
	display: grid;
	grid-gap: 2vh;
	grid-template-areas: 'form_search form_search form_submit' 'form_artist form_event form_promoter';
	grid-template-columns: 33.33% 33.33 33.33%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.form_search {
	grid-area: form_search;
}
.form_submit {
	grid-area: form_submit;
}
.form_artist {
	grid-area: form_artist;
}
.form_event {
	grid-area: form_event;
}
.form_promoter {
	grid-area: form_promoter;
}
